@charset "UTF-8";

/* リセットCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* scroll-behavior: smooth; */
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

.img {
  margin-right: 20px;
  min-width: 500px;
  background-color: #ebff3b;
}

.large-font {
  font-size: 2em;
  font-weight: bold;
  line-height: 2;
  min-width: 400px;
  max-width: 600px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .first-view {
  height: 70vh;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #ebff3b;
  display: flex;
  justify-content: center;
}

main .h-100 {
  height: 100px;
  background-color: #ebff3b;
  position: relative;
  z-index: -1;
}

main .voice_container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* 枠線間の余白 */
  margin: 40px auto; /* 外側の余白を追加し、中央に配置 */
  max-width: 1200px; /* セクションの最大幅を設定 */
}
main .voice_framework {
  width: 48%;
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px; /* 角を丸くする */
  font-size: 1.8em; /* フォントサイズを大きくする */
}
main .voice_framework img {
  max-width: 100%;
  height: auto;
}
main .voice_framework h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
main .voice_framework p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* h1 のスタイルを main h1 に変更 */
main h1 {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 20px;
}

/* footer関係 */

footer h2 {
  font-size: 3em;
  color: #f7f7f7;
  text-align: center;
  padding-top: 10px;
}
footer .sns-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}
footer .sns-links img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
footer .footer-upper {
  background-color: black;
  height: 160px;
}
footer .footer-bottom {
  background-color: #c0c0c0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
footer .footer-nav {
  width: 80%;
}
footer ul {
  display: flex;
}
footer li {
  margin: 20px;
  list-style: none;
}
footer a {
  text-decoration: none;
  color: black;
}
footer small {
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  padding-left: 128px;
  padding-right: 128px;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  height: 100px;
  position: fixed;
  z-index: 9999;
}

.header_items {
  width: 100%;
}

h1 img {
  width: 250px;
  display: block;
}

.header-nav-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
}

li {
  width: 100px;
  list-style: none;
  text-align: center;
}

a {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
  padding: 10px 15px;
  border-radius: 10px;
	text-decoration: none;
  white-space: nowrap;
}

nav ul li a:hover {
  background-color: #f0f0f0;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

#signup-link {
	background-color: #000000;
	color: #ffffff;
	border-radius: 10px;
	margin-left: 20px;
}

#signup-link:hover {
  opacity: 0.5;
  transition: 0.3s;
}


/*セクション関連のスタイル*/
.section-inner {
  padding-left: 128px;
  padding-right: 128px;
}

.section-inner .section-wrapper {
  background-color: #fefefe;
  box-shadow: none;
  margin-top: 0;
  padding: 0 1.2rem;
}

.section-inner .section-wrapper .section-title {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 15rem;
  text-align: center;
}

.service-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

@media only screen and (max-width: 768px) {
  .service-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
  }
}

.service-list-item {
  width: 100%;
  height: 100%;
}

.service-link {
  position: relative;
  display: block;
  background: #f7f7f7;
  padding: 1rem 20px;
  border-radius: 14px;
}

.service-figure {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
  border-radius: 14px;
}

figcaption {
  flex: 1;
  position: relative;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.figcaption-text {
  font-size: 1.2rem;
  color: #1d1d1d;
  font-weight: bold;
  line-height: 1.6;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  text-align: center;
}

.third-view{
  h3{
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
  }
  .text{
    text-align: center;
    font-size: 1.5rem;
  }
  .price-image{
    width: 800px;
    display: flex;
    margin: 30px auto;
  }
  .img{
    background-color: transparent;
    display: flex;
    margin: 30px auto;
  }
  .caution-table{
    margin: 10px auto;
    .table-text{
      font-size: 1.2rem;
    }
  }
}
